@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --stone100: hwb(31 85% 5%);
   --Stone150: hsl(30, 18%, 87%);
   --Stone600: hsl(30, 10%, 34%);
   --Stone900: hsl(24, 5%, 18%);
   --Brown800: hsl(14, 45%, 36%);
   --Rose800: hsl(332, 51%, 32%);
   --Rose50: hsl(330, 100%, 98%);

}
body {
    background-color: rgb(241, 223, 195);
    padding: 2rem;
    width: 100vw;
    font-family: Outfit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
   padding: 1rem;
}
ol {
    padding: 1rem;
}
h1, h2, h3 {
    color: var(--Rose800);
    font-weight: 500;
    font-family: Young Serif;
}

.container {
    border-radius:  10px 10px;
    width: 16rem;
    padding: 16px;
    font-size: 10px;
    margin-bottom: 2rem;
    background-color: rgb(254, 253, 250);
}
ul li {
    margin-bottom: 9px;
}
img {
    border-radius: 10px 10px 0 0;
    width: 14.2rem;
    /* height: 6.5rem; */
}
header h1 {
    color: var(--Stone900);
    margin-bottom: 10px;
    font-weight: 500;
    font-family: Young Serif;
}
header p {
    color: var(--Stone600);
    font-family: Outfit;
}
.preparation {
    background-color: var(--Rose50);
    margin: 19px;
    padding: 9px;
    border-radius: 4px;
}
.preparation h3 {
    color: var(--Rose800);
}
.preparation ul li {
    margin-bottom: 10px;
    margin-right: 2px;
}
.preparation ul span {
    /* display: ; */
    font-weight: 900;
    margin-right: 2px;
}
span {
    font-weight: 600;
}

.instruct ol span {
    font-size: 12px;
}
.instruct ol li {
    margin: 0 0 10px 0;
    color: var(--Stone900);
}
.instruct ol li::marker{
    color: var(--Rose800);
}
.nutrition .class  {
    display: flex;
    /* width: 12rem; */
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    /* margin-bottom: 10px; */
    border-bottom: 0.1px solid var(--Stone600);
}
.nutrition h2 {
    margin: 15px 0;
    color: var(--Rose800);
}
.nutrition .class li {
    margin-top: 10px;
}
.nutrition .class .brigde {
    display: flex;
    width: 12rem;
    justify-content: space-around;
}
.nutrition .class .amount {
    /* display: none; */
    color: var(--Rose800);
    font-weight: 900;
    margin-bottom: 10px;
    /* margin-top: 10px; */
}
.nutrition .borderr {
    border: 0px solid var(--Stone150);
    width: 100%;
}
@media (min-width:700px) {
    .container {
        min-width: 27rem;
    }
    img {
        width: 25rem;
    }
    .nutrition .class .brigde {
        padding-left: 13px;
        display: flex;
        width: 19rem;
        justify-content: space-between;
    }
    
}